<app-form [formGroup]="form" (commit)="commitValue($event)">
    <app-form-group #group name="group">
        <app-form-field>
            <app-label>Field 1</app-label>
            <app-textfield name="field1" [value]="data.group.field1" [group]="group"></app-textfield>
            <app-suffix>deg</app-suffix>
        </app-form-field>
        <app-form-field>
            <app-label>Field 2</app-label>
            <app-textfield name="field2" [value]="data.group.field2" [group]="group"></app-textfield>
            <app-suffix>deg</app-suffix>
        </app-form-field>
    </app-form-group>
    <app-form-field>
        <app-label>Field 3</app-label>
        <app-textfield name="field3" [value]="data.field3"></app-textfield>
    </app-form-field>
    <app-form-field>
        <app-label>Field 4</app-label>
        <app-textfield name="field4" [value]="data.field4"></app-textfield>
    </app-form-field>
</app-form>

<app-form-field>
    <app-label>No form</app-label>
    <app-textfield name="noForm" [value]="noFormValue"></app-textfield>
</app-form-field>

<br/>
<hr>
<br/>
<h1>Form values</h1>
<pre>
{{ form.value | json }}
</pre>
<h1>No form value</h1>
<pre>
{{ noFormValue}}
</pre>